<!DOCTYPE html>
<html>
<head>
    <title>RESTFUL</title>
    <meta charset="UTF-8">
    <script src="js/jquery.min.js"></script>
</head>
<body>
<h1 inline="text">Rest 接口表示</h1>

    <br>
            <table id="testTable" style="TABLE-LAYOUT: fixed" border="1" cellspacing="0" cellpadding="0" width="3000">
            <tr>
                <th width="20">说明</th>
                <th width="100">URL</th>
                <th width="10">METHOD</th>
                <th width="150">入参</th>
                <th width="50">出参</th>
                <th width="100">服务名</th>
                <th width="50">实例名</th>
                <th width="50">入参名</th>
                <th width="50">出参名</th>
            </tr>
        </table>

<script src="js/rest.js"></script>
</body>
</html>